@import url('https://fonts.googleapis.com/css?family=Space+Mono');

html, body, section, div {
  font-family: "Space Mono", "ipa-mj-mincho", "PingFang TC", "Hiragino Sans", "微軟正黑體", sans-serif;
}
html, body, section {
  margin: 0;
  font-size: 24px;
}
h1, h2, h3, h4 {
  margin: 0;
  font-weight: normal;
}
h1 {
  word-break: break-all;
}
code {
  font-family: "Space Mono", monospace;
}
a, a:visited, a:active, a:hover {
  text-decoration: none;
  color: blue;
}
a:hover {
  color: red;
}
section, p {
  margin: 0;
}
img {
  display: block;
}
.grid-item {
  float: left;
  width: 150px;
  height: 150px;
  margin: 8px;
}
.grid-item.large {
  width: 482px;
  border: 2px solid lime;
  border-radius: 2px;
  box-sizing: border-box;
  overflow: scroll;
}
.grid-item > img {
  width: 100%;
}
#grid {
  margin: 8px;
}
#grid::after {
  content: "";
  display: block;
  clear: both;
}
.gist .gist-file {
  margin-bottom: 0 !important;
  border: none !important;
}
.gist .gist-data {
  border: none !important;
}
.gist .gist-meta {
  margin-top: 1em;
}
