html, body, div, p {
  font-family: "Lora", "PingFang TC", "Hiragino Sans", "微軟正黑體", serif;
}
html, body {
  margin: 0;
  font-size: 16px;
}
h1, h2, h3, h4 {
  margin: 0;
  font-weight: normal;
}
code {
  font-family: "Roboto Mono", monospace;
}
a, a:visited, a:active, a:hover {
  text-decoration: none;
  color: blue;
}
h1 {
  margin: 1rem;
}
