html, body, section, div, p {
  font-family: "Lora", "ipa-mj-mincho", "PingFang TC", "Hiragino Sans", "微軟正黑體", serif;
}
html, body, section {
  margin: 0;
  font-size: 24px;
}
h1, h2, h3, h4 {
  margin: 0;
  font-weight: normal;
}
h1 {
  word-break: break-all;
}
code {
  font-family: "Roboto Mono", monospace;
}
a, a:visited, a:active, a:hover {
  text-decoration: none;
  color: blue;
}
section, p {
  margin: 0;
}
img {
  display: block;
}
.grid-item {
  float: left;
  width: 150px;
  height: 150px;
  margin: 8px;
}
.grid-item > img {
  width: 100%;
}
#grid {
  margin: 8px;
}
#grid::after {
  content: "";
  display: block;
  clear: both;
}
